In [18]:
import pandas as pd
feature_names = ['Sex','Length','Diameter','Height','Whole Wt','Shucked Wt','Viscera Wt','Shell Wt','Rings']

In [19]:
abalone = pd.read_csv('abalone.data',names = feature_names)

In [20]:
abalone.head()

,Sex,Length,Diameter,Height,Whole Wt,Shucked Wt,Viscera Wt,Shell Wt,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [21]:
abalone.describe()

,Length,Diameter,Height,Whole Wt,Shucked Wt,Viscera Wt,Shell Wt,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [22]:
abalone.replace(('M', 'F','I'), (0,1,2), inplace=True)

In [23]:
import keras
all_features = abalone[feature_names].drop('Sex',axis=1).values
all_classes = abalone['Sex'].values
all_classes = keras.utils.to_categorical(all_classes,3)

Using TensorFlow backend.

In [29]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
all_features1 = scalar.fit_transform(all_features)

In [36]:
from keras.optimizers import adam
from keras.layers import Dense,Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
import numpy as np

In [46]:
def create_model():
    model = Sequential()
    model.add(Dense(128,activation='relu',input_shape=(8,)))
    model.add(Dropout(0.4))
    model.add(Dense(256,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(256,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(128,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(32,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(3,activation='softmax'))
    model.compile(loss='categorical_crossentropy',
                  optimizer = adam(),
                  metrics = ['accuracy'])
    return model

In [ ]:
estimator = KerasClassifier(build_fn=create_model,nb_epoch=50,verbose=2)
score = cross_val_score(estimator,all_features1,all_classes,cv=50)

Epoch 1/1
 - 5s - loss: 0.9665 - acc: 0.5011
Epoch 1/1
 - 5s - loss: 0.9480 - acc: 0.5087
Epoch 1/1
 - 5s - loss: 0.9728 - acc: 0.4872
Epoch 1/1
 - 6s - loss: 0.9525 - acc: 0.4801
Epoch 1/1
 - 6s - loss: 0.9720 - acc: 0.5082
Epoch 1/1
 - 6s - loss: 0.9799 - acc: 0.4906
Epoch 1/1
 - 6s - loss: 0.9413 - acc: 0.5067
Epoch 1/1
 - 6s - loss: 0.9588 - acc: 0.5006
Epoch 1/1
 - 7s - loss: 0.9510 - acc: 0.5092
Epoch 1/1
 - 7s - loss: 0.9723 - acc: 0.4928
Epoch 1/1
 - 7s - loss: 0.9715 - acc: 0.4969
Epoch 1/1
 - 7s - loss: 0.9627 - acc: 0.4935
Epoch 1/1
 - 7s - loss: 0.9575 - acc: 0.4969
Epoch 1/1
 - 7s - loss: 0.9711 - acc: 0.4918
Epoch 1/1
 - 8s - loss: 0.9696 - acc: 0.4852
Epoch 1/1
 - 8s - loss: 0.9589 - acc: 0.5011
Epoch 1/1
 - 8s - loss: 0.9805 - acc: 0.4759
Epoch 1/1
 - 8s - loss: 0.9720 - acc: 0.4921
Epoch 1/1
 - 9s - loss: 0.9659 - acc: 0.4918
Epoch 1/1
 - 9s - loss: 0.9625 - acc: 0.4960
Epoch 1/1
 - 10s - loss: 0.9693 - acc: 0.4969
Epoch 1/1
 - 9s - loss: 0.9642 - acc: 0.4884
Epoch 1/1
 - 9s - loss: 0.9505 - acc: 0.5079
Epoch 1/1
 - 9s - loss: 0.9696 - acc: 0.4977
Epoch 1/1
 - 10s - loss: 0.9738 - acc: 0.4916
Epoch 1/1
 - 10s - loss: 0.9570 - acc: 0.5001
Epoch 1/1
 - 10s - loss: 0.9631 - acc: 0.4989
Epoch 1/1
 - 10s - loss: 0.9738 - acc: 0.4866
Epoch 1/1
 - 10s - loss: 0.9477 - acc: 0.5061
Epoch 1/1
 - 10s - loss: 0.9545 - acc: 0.4998
Epoch 1/1
 - 11s - loss: 0.9732 - acc: 0.4907
Epoch 1/1
 - 11s - loss: 0.9606 - acc: 0.5061
Epoch 1/1
 - 10s - loss: 0.9710 - acc: 0.5002