In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.io import loadmat
import glob
import os

In [2]:
data_label = []
data_names = []
for img in glob.glob("./lists/*.mat"):
    h,t = os.path.split(img)
    data_names.append(t)
    data_label.append(loadmat(img))
    #data = pd.DataFrame(loadmat(img))
print(data_names)

['test_list.mat', 'file_list.mat', 'train_list.mat']

In [3]:
data_label[0]

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sun Oct  9 08:36:13 2011',
 '__version__': '1.0',
 '__globals__': [],
 'file_list': array([[array(['n02085620-Chihuahua/n02085620_2650.jpg'], dtype='<U38')],
        [array(['n02085620-Chihuahua/n02085620_4919.jpg'], dtype='<U38')],
        [array(['n02085620-Chihuahua/n02085620_1765.jpg'], dtype='<U38')],
        ...,
        [array(['n02116738-African_hunting_dog/n02116738_3635.jpg'], dtype='<U48')],
        [array(['n02116738-African_hunting_dog/n02116738_2988.jpg'], dtype='<U48')],
        [array(['n02116738-African_hunting_dog/n02116738_6330.jpg'], dtype='<U48')]],
       dtype=object),
 'annotation_list': array([[array(['n02085620-Chihuahua/n02085620_2650'], dtype='<U34')],
        [array(['n02085620-Chihuahua/n02085620_4919'], dtype='<U34')],
        [array(['n02085620-Chihuahua/n02085620_1765'], dtype='<U34')],
        ...,
        [array(['n02116738-African_hunting_dog/n02116738_3635'], dtype='<U44')],
        [array(['n02116738-African_hunting_dog/n02116738_2988'], dtype='<U44')],
        [array(['n02116738-African_hunting_dog/n02116738_6330'], dtype='<U44')]],
       dtype=object),
 'labels': array([[  1],
        [  1],
        [  1],
        ...,
        [120],
        [120],
        [120]], dtype=uint8)}

In [4]:
data_label[0]['file_list']

array([[array(['n02085620-Chihuahua/n02085620_2650.jpg'], dtype='<U38')],
       [array(['n02085620-Chihuahua/n02085620_4919.jpg'], dtype='<U38')],
       [array(['n02085620-Chihuahua/n02085620_1765.jpg'], dtype='<U38')],
       ...,
       [array(['n02116738-African_hunting_dog/n02116738_3635.jpg'], dtype='<U48')],
       [array(['n02116738-African_hunting_dog/n02116738_2988.jpg'], dtype='<U48')],
       [array(['n02116738-African_hunting_dog/n02116738_6330.jpg'], dtype='<U48')]],
      dtype=object)

In [5]:
np.shape(data_label[0]['file_list'])

(8580, 1)

In [6]:
data_label[0]['labels']

array([[  1],
       [  1],
       [  1],
       ...,
       [120],
       [120],
       [120]], dtype=uint8)

In [7]:
np.shape(data_label[0]['labels'])

(8580, 1)

In [8]:
data_label[0]['annotation_list']

array([[array(['n02085620-Chihuahua/n02085620_2650'], dtype='<U34')],
       [array(['n02085620-Chihuahua/n02085620_4919'], dtype='<U34')],
       [array(['n02085620-Chihuahua/n02085620_1765'], dtype='<U34')],
       ...,
       [array(['n02116738-African_hunting_dog/n02116738_3635'], dtype='<U44')],
       [array(['n02116738-African_hunting_dog/n02116738_2988'], dtype='<U44')],
       [array(['n02116738-African_hunting_dog/n02116738_6330'], dtype='<U44')]],
      dtype=object)

In [9]:
import pandas as pd

In [53]:
list_of_tuples = list(zip( data_label[0]['labels'], data_label[0]['file_list'], data_label[0]['annotation_list'])) 
data_test = pd.DataFrame(list_of_tuples,columns = ['labels', 'file_list','annotation_list' ])
list_of_tuples = list(zip( data_label[1]['labels'], data_label[1]['file_list'], data_label[1]['annotation_list'])) 
data_file = pd.DataFrame(list_of_tuples,columns = ['labels', 'file_list','annotation_list' ])
list_of_tuples = list(zip( data_label[2]['labels'], data_label[2]['file_list'], data_label[2]['annotation_list'])) 
data_train = pd.DataFrame(list_of_tuples,columns = ['labels', 'file_list','annotation_list' ])

In [54]:
data_file.head()

,labels,file_list,annotation_list
0,[1],[[n02085620-Chihuahua/n02085620_10074.jpg]],[[n02085620-Chihuahua/n02085620_10074]]
1,[1],[[n02085620-Chihuahua/n02085620_10131.jpg]],[[n02085620-Chihuahua/n02085620_10131]]
2,[1],[[n02085620-Chihuahua/n02085620_10621.jpg]],[[n02085620-Chihuahua/n02085620_10621]]
3,[1],[[n02085620-Chihuahua/n02085620_1073.jpg]],[[n02085620-Chihuahua/n02085620_1073]]
4,[1],[[n02085620-Chihuahua/n02085620_10976.jpg]],[[n02085620-Chihuahua/n02085620_10976]]

In [55]:
data_test.head()

,labels,file_list,annotation_list
0,[1],[[n02085620-Chihuahua/n02085620_2650.jpg]],[[n02085620-Chihuahua/n02085620_2650]]
1,[1],[[n02085620-Chihuahua/n02085620_4919.jpg]],[[n02085620-Chihuahua/n02085620_4919]]
2,[1],[[n02085620-Chihuahua/n02085620_1765.jpg]],[[n02085620-Chihuahua/n02085620_1765]]
3,[1],[[n02085620-Chihuahua/n02085620_3006.jpg]],[[n02085620-Chihuahua/n02085620_3006]]
4,[1],[[n02085620-Chihuahua/n02085620_1492.jpg]],[[n02085620-Chihuahua/n02085620_1492]]

In [56]:
data_train.head()

,labels,file_list,annotation_list
0,[1],[[n02085620-Chihuahua/n02085620_5927.jpg]],[[n02085620-Chihuahua/n02085620_5927]]
1,[1],[[n02085620-Chihuahua/n02085620_4441.jpg]],[[n02085620-Chihuahua/n02085620_4441]]
2,[1],[[n02085620-Chihuahua/n02085620_1502.jpg]],[[n02085620-Chihuahua/n02085620_1502]]
3,[1],[[n02085620-Chihuahua/n02085620_1916.jpg]],[[n02085620-Chihuahua/n02085620_1916]]
4,[1],[[n02085620-Chihuahua/n02085620_13151.jpg]],[[n02085620-Chihuahua/n02085620_13151]]

In [57]:
print('Shape of file {}, train {}, test {}'.format(data_file.shape,data_train.shape, data_test.shape))

Shape of file (20580, 3), train (12000, 3), test (8580, 3)

In [60]:
data_test_selected = data_test.sample(n = 3000, replace=False)

In [61]:
data_test_selected.head()

,labels,file_list,annotation_list
7879,[109],[[n02112137-chow/n02112137_6964.jpg]],[[n02112137-chow/n02112137_6964]]
5537,[77],[[n02105412-kelpie/n02105412_5138.jpg]],[[n02105412-kelpie/n02105412_5138]]
4526,[58],[[n02099712-Labrador_retriever/n02099712_4177....,[[n02099712-Labrador_retriever/n02099712_4177]]
4301,[54],[[n02098413-Lhasa/n02098413_6535.jpg]],[[n02098413-Lhasa/n02098413_6535]]
8415,[118],[[n02115641-dingo/n02115641_10506.jpg]],[[n02115641-dingo/n02115641_10506]]

In [67]:
val=[]
cv_img = []
root = './Images/'
for i[0] in data_test_selected['file_list'].values():
    print(i)
    break
    '''img = glob.glob(os.path.join(root, '*.npy')):
    h,t = os.path.split(img)
    i = re.findall('\d+', h)    
    i = int(i[0])
    val.append(i)
    n = cv2.imread(img,0)
    image = cv2.resize(n, (128, 128))
    image = image - np.mean(image)
    image = image/np.max(image)'''

TypeError: 'numpy.ndarray' object is not callable

In [65]:
data_test_selected['file_list'].values()

TypeError: 'numpy.ndarray' object is not callable