In [76]:
import pandas as pd
feature_names = ['Sex','Length','Diameter','Height','Whole Wt','Shucked Wt','Viscera Wt','Shell Wt','Rings']

In [77]:
abalone = pd.read_csv('abalone.data',names = feature_names)

In [78]:
abalone.head()

,Sex,Length,Diameter,Height,Whole Wt,Shucked Wt,Viscera Wt,Shell Wt,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [79]:
abalone.describe()

,Length,Diameter,Height,Whole Wt,Shucked Wt,Viscera Wt,Shell Wt,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [80]:
abalone.replace(('M', 'F','I'), (2,0,1), inplace=True)
np.shape(abalone)

(4177, 9)

In [81]:
import keras
given_features = abalone[feature_names].drop('Sex',axis=1).values
all_features=[]
all_classes=[]
given_classes = abalone['Sex'].values
z1 = []
z2 = []
for i in range(len(given_features)):
    if given_classes[i]==0:
        all_features.append(given_features[i])
        all_classes.append(given_classes[i])
    if given_classes[i]==1:
        all_features.append(given_features[i])
        all_classes.append(given_classes[i])
all_classes1 = keras.utils.to_categorical(all_classes,2)

In [82]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
all_features1 = scalar.fit_transform(all_features)

In [83]:
from keras.optimizers import adam
from keras.layers import Dense,Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
import numpy as np

In [84]:
'''from sklearn.model_selection import train_test_split

np.random.seed(1234)

(training_inputs,
 testing_inputs,
 training_classes,
 testing_classes) = train_test_split(all_features, all_classes1, train_size=0.75, random_state=1)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-84-9bd4ae65a256>, line 8)

In [ ]:
model = Sequential()
model.add(Dense(128,activation='relu',input_shape=(8,),kernel_initializer='normal'))
model.add(Dropout(0.4))
model.add(Dense(256,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(512,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(1024,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(2048,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(1024,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(512,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(256,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(128,activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(2,activation='sigmoid'))
model.compile(loss='binary_crossentropy',
              optimizer = adam(),
              metrics = ['accuracy'])
history = model.fit(all_features1,all_classes1,
                    verbose=1,
                    epochs=20,
                    batch_size = 30,
                    validation_data = (all_features1[:1000],all_classes1[:1000]))

Train on 2649 samples, validate on 1000 samples
Epoch 1/20
2649/2649 [==============================] - 13s 5ms/step - loss: 0.5262 - acc: 0.7458 - val_loss: 0.3947 - val_acc: 0.8420
Epoch 2/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4319 - acc: 0.8230 - val_loss: 0.4116 - val_acc: 0.8390
Epoch 3/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4369 - acc: 0.8235 - val_loss: 0.3897 - val_acc: 0.8435
Epoch 4/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4269 - acc: 0.8280 - val_loss: 0.3827 - val_acc: 0.8515
Epoch 5/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4157 - acc: 0.8303 - val_loss: 0.3796 - val_acc: 0.8485
Epoch 6/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4210 - acc: 0.8330 - val_loss: 0.4295 - val_acc: 0.8420
Epoch 7/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4416 - acc: 0.8271 - val_loss: 0.3961 - val_acc: 0.8440
Epoch 8/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4274 - acc: 0.8252 - val_loss: 0.4262 - val_acc: 0.8510
Epoch 9/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4162 - acc: 0.8335 - val_loss: 0.3988 - val_acc: 0.8420
Epoch 10/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4287 - acc: 0.8190 - val_loss: 0.3718 - val_acc: 0.8310
Epoch 11/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4266 - acc: 0.8145 - val_loss: 0.3954 - val_acc: 0.8440
Epoch 12/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4404 - acc: 0.8290 - val_loss: 0.3769 - val_acc: 0.8530
Epoch 13/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4276 - acc: 0.8297 - val_loss: 0.3629 - val_acc: 0.8570
Epoch 14/20
2649/2649 [==============================] - 10s 4ms/step - loss: 0.4190 - acc: 0.8324 - val_loss: 0.3785 - val_acc: 0.8420
Epoch 15/20
2649/2649 [==============================] - 12s 4ms/step - loss: 0.4206 - acc: 0.8360 - val_loss: 0.3576 - val_acc: 0.8485
Epoch 16/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4232 - acc: 0.8290 - val_loss: 0.3777 - val_acc: 0.8530
Epoch 17/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4248 - acc: 0.8328 - val_loss: 0.3903 - val_acc: 0.8555
Epoch 18/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4119 - acc: 0.8313 - val_loss: 0.3530 - val_acc: 0.8615
Epoch 19/20
2649/2649 [==============================] - 11s 4ms/step - loss: 0.4188 - acc: 0.8328 - val_loss: 0.3637 - val_acc: 0.8590
Epoch 20/20
 600/2649 [=====>........................] - ETA: 7s - loss: 0.4327 - acc: 0.8342

In [40]:
def create_model():
    model = Sequential()
    model.add(Dense(128,activation='relu',input_shape=(8,)))
    model.add(Dropout(0.4))
    model.add(Dense(256,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(512,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(1024,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(2048,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(1024,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(512,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(256,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(128,activation='relu'))
    model.add(Dropout(0.4))
    model.add(Dense(2,activation='softmax'))
    model.compile(loss='categorical_crossentropy',
                  optimizer = adam(),
                  metrics = ['accuracy'])
    return model
estimator = KerasClassifier(build_fn=create_model,nb_epoch=50,verbose=1)
score = cross_val_score(estimator,all_features,all_classes,cv=50)

NameError: name 'all_features1' is not defined

In [27]:
np.shape(all_classes[:2000,:])

(2000, 3)

In [20]:
np.shape(given_features)

(4177, 8)

In [26]:
len(all_classes)

2870

In [27]:
max(all_classes)

2

In [69]:
np.shape(all_features)

(2870, 8)

In [71]:
given_features[:2000]

IndexError: index 8 is out of bounds for axis 1 with size 8